{% extends 'base.html.twig' %}


{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container-login-form">

        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <div style="text-align: center; font-size: 50px">Logo</div>

            <label for="username" id="login-input-username-label">{{ 'Usuário'|trans }}</label>
            <input type="text" id="login-input-username" name="_username" value="{{ last_username }}"
                   placeholder="Acesso do usuário" required="required"/>

            <label for="login-input-password" id="login-input-password-label">{{ 'Senha'|trans }}</label>
            <input type="password" id="login-input-password" name="_password" placeholder="Senha" required="required"/>

            <span id="login-span-check-remember-me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'Lembrar-se'|trans }}</label>
                <span id="login-input-forgot" ><a href="#">Esqueceu sua senha?</a></span>
            </span>
            <div id="login-span-btn">
                <input type="submit" id="login-input-btn" class="btn btn-lg btn-primary btn-block" name="_submit"
                       value="{{ 'ACESSAR'|trans }}"/>
            </div>
        </form>
    </div>
{% endblock %}