<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Boas vindas!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('fos_user_security_logout') }}">Sair</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    {% endif %}
</head>
<body>


{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}

{% block body %}{% endblock %}


{% block javascripts %}
    <script>
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }

    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    </script>
{% endblock %}
</body>

</html>
