{% extends 'base.html.twig' %}

{% block title %}
    Ambientes
{% endblock %}

{% block fos_user_content %}
    <h1>Surroundings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for surrounding in surroundings %}
            <tr>
            <th>{{ surrounding.title}}</th>
            {% for component in components %}
                {% if surrounding.id == component.surrounding.__toString() %}
                    <tr>
                    <td><a href="{{ path('surrounding_show', { 'id': surrounding.id }) }}">{{ surrounding.id }}</a></td>
                    <td>{{ surrounding.title }}</td>
                    <td>{{ surrounding.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('surrounding_show', { 'id': surrounding.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('surrounding_edit', { 'id': surrounding.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                    <tr>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('surrounding_new') }}">Create a new surrounding</a>
        </li>
    </ul>



{% endblock %}

