{% extends 'base.html.twig' %}

{% block title %}
    Ambientes
{% endblock %}


{% block content %}
    <div class="col-xs-12">
        {{ include('component/breadcrumb.html.twig') }}
    </div>

    {% for surrounding in surroundings %}
        <div class="col-xs-12 {{ surrounding.id }}" style="padding: 3%; background-image: linear-gradient(to right, rgba(0, 0, 50,1), rgba(80, 0, 180,1));margin-bottom: 5px" onclick="row({{ surrounding.id }})">
            <div class="row" style="height: 100%; align-items: center;">
                <div class="col-xs-1">
                    <i class="fas fa-map-marker-alt" style="font-size: 21px; color: #FFFFFF;"></i>
                </div>
                <div class="col-xs-9" style="color:#FFFFFF;">
                    <div class="col-xs-8" style="color:#FFFFFF; margin-left: -15px;">
                    <span style="font-size: 21px">
                        {{ surrounding.title }}
                    </span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <a href="{{ path('surrounding_edit', { 'id': surrounding.id }) }}">
                        <i class="fas fa-wrench" style="font-size: 21px; color: #999999"></i>
                    </a>
                </div>
            </div>
        </div>
    {% for component in components %}
        {% if surrounding.id == component.surrounding.__toString() %}


            <div class="col-xs-12 row{{ surrounding.id }}" style="padding: 3%; background-image: linear-gradient(to right, rgba(80, 0, 150,1), rgba(80, 0, 180,1)); margin-bottom: 5px" onclick="row({{ surrounding.id }})">



                <div class="row" style="height: 100%; align-items: center;">
                    <div class="col-xs-2">
                        <i class="fas fa-lightbulb" style="font-size: 21px; color: #FFFFFF"></i>
                    </div>
                    <div class="col-xs-6" style="color:#FFFFFF;">
                        <span style="font-size: 21px">
                            {{ component.title }}
                        </span>
                    </div>
                    <div class="col-xs-2">
                    <!--Aqui vai ser definido pelo retorno do get-->
                        {% if component.status %}
                            <input type="checkbox" id="{{ component.id }}" checked data-toggle="toggle" data-size="mini" data-onstyle="primary">
                        {% else %}
                            <input type="checkbox" id="{{ component.id }}" data-toggle="toggle" data-size="mini">
                        {% endif %}
                    </div>
                    <div class="col-xs-1">
                        <a href="{{ path('component_edit', { 'id': component.id }) }}">
                            <i class="fas fa-pencil-alt" style="font-size: 21px; color: #FFFFFF"></i>
                        </a>
                    </div>
                </div>

                <script>
                    $("#{{ component.id }}").change(function () {
                        $.ajax({
                            type: "POST",
                            crossDomain: true,
                            header: 'Access-Control-Allow-Origin',
                            url: "http://127.0.0.1:20000/api/{{ component.id }}/switch",
                            success: function (msg) {
                                //alert(JSON.stringify(msg));
                            },
                            error: function (error) {
                                alert('Falhou');
                                alert(error.status);
                            },
                        });
                    });
                </script>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div style="position: fixed; top: 490px; right: 50px;font-size: 45px; z-index: 1; ">
        <a href="{{ path('surrounding_new') }}"><i class="fas fa-plus-circle" style="color: #0000FF; background-color: #FFFFFF; border-radius: 90px   "></i></a>
    </div>
    <script>
        function row(surrounding) {
            $(".row" + surrounding).slideToggle("slow");
        }
    </script>



{% endblock %}